* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/chill.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}
/* #background {
  width: 100vw;
  height: 100vh;
  background-image: url(images/chill.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
} */

#buttons {
  width: 40vw;
  margin: 1em auto;
}

#pixel-board {
  display: inline-block;
  background-color: azure;
  padding: 10px;
  height: auto;
  width: auto;
  margin: 0 auto;
  filter: drop-shadow(10px 10px 5px black);
}

#generate-board {
  background-color: rgb(255, 255, 255);
  filter: opacity(80%);
}

#clear-board {
  background-color: rgb(255, 255, 255);
  filter: opacity(80%);
}

#grid-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#title {
  padding-top: 5%;
  color: azure;
  font-family:'Press Start 2P', cursive;
  filter: drop-shadow(2px 2px 5px red);
}

#palette-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: opacity(80%);
}

.header{
  display: flex;
  justify-content: center;
  
}

.color {
  border: solid 1px black;
  display: inline-block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 45px;
  
}

.pixel {
  background-color: white;
  border: solid 1px rgb(204, 204, 204);
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-bottom: -9px;
}

.selected {
  border: solid 1px black;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
}
